<!DOCTYPE html>
<html th:lang="${#locale}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/wood.css" type="text/css"
    media="screen" />
</head>
<body>
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/menu :: menu">
    </div>
    <div class="body">
        <div id="main">
        
        
        
            <H1 th:text="${statistics_var}"></H1>
            <form th:object="${statisticsParams}" method="post">
                <div style="width: 300px;" class="form">
                    <div style="width: 100px; display: inline;" th:text="#{records_in_page}"></div>
                    <div
                        style="width: 200px; display: inline; margin-right: auto;">
                        <input th:field="*{maxRecordsCount}" />
                    </div>
                    <div style="width: 300px;">
                        <div></div>
                    </div>
                    <div style="width: 100px; display: inline;" th:text="#{statistics_type}"></div>
                    <div
                        style="width: 200px; display: inline; margin-right: auto;">
                        <select th:field="*{type}" multiple="false">
                            <option th:value="LAST_REGISTERED_USERS" th:text="#{last_registered_users}"></option>
                            <option th:value="LAST_CREATED_PETS" th:text="#{last_created_pets}"></option>
                        </select>
                    </div>
                    <div style="width: 300px;">
                        <div></div>
                    </div>
                    <div
                        style="width: 300px; display: inline; margin-left: auto;">
                        <input type="submit" th:value="#{show_statistics}" />
                    </div>
                </div>
            </form>
            <table th:if="${not #lists.isEmpty(users)}">
                <tr th:each="user : ${users}">
                    <td th:text="${user.registrationDate}"></td>
                    <td th:text="${user.name}"></td>
                </tr>
            </table>
            <table th:if="${not #lists.isEmpty(pets)}">
                <tr th:each="pet : ${pets}">
                    <td th:text="${pet.createdDate}"></td>
                    <td><a th:href="@{/site/information/pet(id=${pet.id})}" th:text="${pet.name}"></a></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">
    </div>
</body>
</html>

